@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.software-skill-inline > i {
  color: $subTitle;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

.software-skill-inline > i:hover {
  color: transparent;
  animation: revealColor 1s forwards;
}

.software-skill-inline > p {
  color: $subTitle;
  font-size: 10px;
}

.software-skill-inline > i:hover ~ p {
  color: $skillsColor;
}

@keyframes revealColor {
  0% {
    background: transparent;
    -webkit-background-clip: text;
  }
  100% {
    background: inherit;
    -webkit-background-clip: text;
  }
}
