@import "../../_globalColor";

.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.software-skill-inline > i {
  color: black; // Start with black color
  position: relative;
  z-index: 1;
  transition: color 1s ease-in-out; // Smooth transition
}

.software-skill-inline > p {
  color: black; // Start with black color for the text
  font-size: 10px;
  margin-top: 5px;
  transition: color 1s ease-in-out; // Smooth transition for text color
}

.software-skill-inline:hover > i {
  color: inherit; // Inherit color from the inline style set in React component
}

.software-skill-inline:hover > p {
  color: inherit; // Inherit color from the inline style set in React component
}
