.achievement-heading {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
  display: flex;
  flex-direction: column; // Stack items vertically on mobile
  align-items: center;
}

.trophy-lottie {
  margin-left: 0; // Remove fixed left margin
  display: inline-block;
  width: 100%; // Full width
  max-width: 300px; // Optional max-width
  height: auto; // Maintain aspect ratio
}

@media (max-width: 768px) {
  .achievement-heading {
    font-size: 30px;
    flex-direction: column; // Ensure vertical stacking
    align-items: center;
    text-align: center;
  }
  
  .achievement-cards-div {
    display: flex;
    flex-direction: column; // Stack cards vertically
    align-items: center;
  }
}